dash==1.12.0
dash-auth==1.4.1
dash-bootstrap-components==0.11.1
dash-core-components==1.10.0
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0
decorator==4.4.2
Fiona==1.8.17
Flask==1.1.2
Flask-Compress==1.7.0
Flask-SeaSurf==0.3.0
future==0.18.2
GDAL==3.1.4
geopandas
gunicorn==19.9.0
idna==2.10
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jupyter-client==6.1.7
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
pandas==0.25.3
plotly==4.8.0
prompt-toolkit==3.0.8
Pygments==2.7.2
pylint
pyparsing==2.4.7
pyproj
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
python-dateutil==2.8.1
pytz==2020.1
numpy==1.18.1
requests==2.25.1
Shapely==1.7.1
urllib3==1.26.3