dash==1.12.0
dash-auth==1.4.1
dash-bootstrap-components==0.11.1
dash-core-components==1.10.0
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0
decorator==4.4.2
Fiona==1.8.17
Rtree==0.9.4
geopandas
gunicorn==19.9.0
pandas==0.25.3
plotly==4.8.0
pyproj
python-dateutil==2.8.1
numpy==1.18.1
requests==2.25.1
Shapely==1.7.1
urllib3==1.26.3